*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: white;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.col1{width: calc(100%/12);}
.col2{width: calc((100%/12) * 2);}
.col3{width: calc((100%/12) * 3);}
.col4{width: calc((100%/12) * 4);}
.col5{width: calc((100%/12) * 5);}
.col6{width: calc((100%/12) * 6);}
.col7{width: calc((100%/12) * 7);}
.col8{width: calc((100%/12) * 8);}
.col9{width: calc((100%/12) * 9);}
.col10{width: calc((100%/12) * 10);}
.col11{width: calc((100%/12) * 11);}
.col12{width: 100%}

p{
    padding-left: 100px;
    padding-right: 100px;
}

.links{
    margin-top: 7.5px;
    padding: 20px;
    border: 10px;
    float: left;
    text-align: center;
    background-color: rgb(0, 0, 0);
    outline-width: 10px;
    outline-color: white;
    outline-style: solid;
    overflow: visible;
}

.titulo{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#barra{
    width: 100%;
}

#dead_valentine_g{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

#dead_valentine_p{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

img #dead_valentine_g{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: scale-down;
}

img #dead_valentine_p{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: scale-down;
}

@media screen and (max-width: 767px) {
    #dead_valentine_g{
        display: none;
    }

    .titulo{
        font-size: 50px;
    }
}

@media screen and (min-width: 768px) {
    #dead_valentine_g{
        display: none;
    }
}
